
:root {
  --primary-color: #003fa3; 
  --secondary-color: #3f4f6b; 
  --background-color: #f9fbfd; 
  --text-color: #001028; 
  --accent-color: #179259; 
  --accent-color-dark: #26a96c;
  --border-color: #dce1e6; 
  --hover-color: #005fb8; 
  --font-family: 'Montserrat', sans-serif;
  --font-size-base: 16px;
  --font-size-small: 14px;
  --font-size-large: 20px;
}


body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--hover-color);
  text-decoration: none;
}


button {
  font-family: var(--font-family);
  font-size: var(--font-size-small);
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}

button:hover {
  background-color: var(--hover-color);
}


h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family);
  color: var(--text-color);
  margin: 0 0 10px 0;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}


input, textarea {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 8px;
  width: 100%;
}

input:focus, textarea:focus {
  outline: none;
  border-color: var(--primary-color);
}




.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.bg-primary {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
  color: var(--background-color);
}

.border-primary {
  border-color: var(--primary-color);
}

.border-secondary {
  border-color: var(--secondary-color);
}

*{
  box-sizing: border-box;
}